{:highlights [{:id #uuid "66169343-a5f8-4fea-934c-045be47cbc03",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 89.1875,
                                     :x2 640,
                                     :y2 730.0000305175781,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 57.60000228881836,
                                   :y1 89.1875,
                                   :x2 452.4880027770996,
                                   :y2 113.1875,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 114.78750610351562,
                                   :x2 479.79687118530273,
                                   :y2 138.78750610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 140.38751220703125,
                                   :x2 416.40639877319336,
                                   :y2 164.38751220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 0,
                                   :y1 370.0000305175781,
                                   :x2 640,
                                   :y2 730.0000305175781,
                                   :width 640,
                                   :height 360}),
                          :page 3},
               :content {:text "Asynchronous sequential circuits can be implemented by employing a basic flip-flop commonly referred to as an SR latch"},
               :properties {:color "yellow"}}
              {:id #uuid "66169363-a6da-4698-b1ba-5da67ff5f3ae",
               :page 4,
               :position {:bounding {:x1 0,
                                     :y1 42.050018310546875,
                                     :x2 640,
                                     :y2 730,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 38.400001525878906,
                                   :y1 42.050018310546875,
                                   :x2 53.23749923706055,
                                   :y2 71.64999389648438,
                                   :width 640,
                                   :height 360}
                                  {:x1 93.23750305175781,
                                   :y1 42.050018310546875,
                                   :x2 119.88195037841797,
                                   :y2 71.64999389648438,
                                   :width 640,
                                   :height 360}
                                  {:x1 56.212501525878906,
                                   :y1 46.412506103515625,
                                   :x2 93.27779388427734,
                                   :y2 70.41250610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 119.9000015258789,
                                   :y1 46.412506103515625,
                                   :x2 164.96495056152344,
                                   :y2 70.41250610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 89.1875,
                                   :x2 546.7040977478027,
                                   :y2 113.1875,
                                   :width 640,
                                   :height 360}
                                  {:x1 38.400001525878906,
                                   :y1 94.42501831054688,
                                   :x2 55.85000228881836,
                                   :y2 111.22500610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 114.78750610351562,
                                   :x2 548.364315032959,
                                   :y2 138.78750610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 140.38751220703125,
                                   :x2 548.1954917907715,
                                   :y2 164.38751220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 166,
                                   :x2 116.5270767211914,
                                   :y2 190,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 196.9375,
                                   :x2 548.3168334960938,
                                   :y2 220.9375,
                                   :width 640,
                                   :height 360}
                                  {:x1 38.400001525878906,
                                   :y1 202.17498779296875,
                                   :x2 55.85000228881836,
                                   :y2 218.97503662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 222.53753662109375,
                                   :x2 149.33750915527344,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 160.97500610351562,
                                   :y1 222.53753662109375,
                                   :x2 198.35000610351562,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 210.03750610351562,
                                   :y1 222.53753662109375,
                                   :x2 235.15000915527344,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 246.8625030517578,
                                   :y1 222.53753662109375,
                                   :x2 284.1000061035156,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 295.82501220703125,
                                   :y1 222.53753662109375,
                                   :x2 378.2124938964844,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 389.9250183105469,
                                   :y1 222.53753662109375,
                                   :x2 413.0375061035156,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 424.8000183105469,
                                   :y1 222.53753662109375,
                                   :x2 493.1499938964844,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 504.9125061035156,
                                   :y1 222.53753662109375,
                                   :x2 548.3986206054688,
                                   :y2 246.53753662109375,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 248.1500244140625,
                                   :x2 548.190242767334,
                                   :y2 272.1500244140625,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 273.76251220703125,
                                   :x2 275.23327255249023,
                                   :y2 297.76251220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 0,
                                   :y1 370,
                                   :x2 640,
                                   :y2 730,
                                   :width 640,
                                   :height 360}),
                          :page 4},
               :content {:text "FLIP-FLOP A flip-flop circuit can maintain a binary state indefinitely (as long as power is delivered to the circuit) until directed by an input signal to switch states The major differences among various types of flip-flops are in the number of inputs they possess and in the manner in which the inputs affect the binary state BASIC"},
               :properties {:color "yellow"}}],
 :extra {:page 3}}
