{:highlights [{:id #uuid "661693b8-770a-4d2c-a2b0-727892348514",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 199,
                                     :x2 640,
                                     :y2 730,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 166.41250610351562,
                                   :y1 199,
                                   :x2 190.1374969482422,
                                   :y2 228.60000610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 285.26251220703125,
                                   :y1 199,
                                   :x2 346.9478759765625,
                                   :y2 228.60000610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 192.5500030517578,
                                   :y1 203.3625030517578,
                                   :x2 282.9125061035156,
                                   :y2 227.3625030517578,
                                   :width 640,
                                   :height 360}
                                  {:x1 346.9125061035156,
                                   :y1 203.3625030517578,
                                   :x2 463.36016845703125,
                                   :y2 227.3625030517578,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 231.0124969482422,
                                   :x2 181.25,
                                   :y2 260.6125183105469,
                                   :width 640,
                                   :height 360}
                                  {:x1 334.2250061035156,
                                   :y1 231.0124969482422,
                                   :x2 350.51251220703125,
                                   :y2 260.6125183105469,
                                   :width 640,
                                   :height 360}
                                  {:x1 422.6750183105469,
                                   :y1 231.0124969482422,
                                   :x2 440.4624938964844,
                                   :y2 260.6125183105469,
                                   :width 640,
                                   :height 360}
                                  {:x1 184.22500610351562,
                                   :y1 235.375,
                                   :x2 331.8125,
                                   :y2 259.375,
                                   :width 640,
                                   :height 360}
                                  {:x1 353.5375061035156,
                                   :y1 235.375,
                                   :x2 420.5375061035156,
                                   :y2 259.375,
                                   :width 640,
                                   :height 360}
                                  {:x1 443.3625183105469,
                                   :y1 235.375,
                                   :x2 543.7809448242188,
                                   :y2 259.375,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 264.4875183105469,
                                   :x2 246.0477294921875,
                                   :y2 274.0874938964844,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 278.3500061035156,
                                   :x2 270.1982116699219,
                                   :y2 287.95001220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 292.2124938964844,
                                   :x2 212.47349548339844,
                                   :y2 301.8125,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 306.0874938964844,
                                   :x2 263.59136962890625,
                                   :y2 315.6875,
                                   :width 640,
                                   :height 360}
                                  {:x1 166.41250610351562,
                                   :y1 319.9624938964844,
                                   :x2 224.90982055664062,
                                   :y2 329.5625,
                                   :width 640,
                                   :height 360}
                                  {:x1 0,
                                   :y1 370,
                                   :x2 640,
                                   :y2 730,
                                   :width 640,
                                   :height 360}),
                          :page 1},
               :content {:text "MODULE 5 - DESIGN OF SEQUENTIAL LOGIC CIRCUITS Dr. E.Papanasam papanasam.e@vit.ac.in AP Senior School of Electronics VIT Chennai"},
               :properties {:color "yellow"}}
              {:id #uuid "661693d6-6218-467d-a598-aafd5cc47880",
               :page 9,
               :position {:bounding {:x1 57.60000228881836,
                                     :y1 166.4250030517578,
                                     :x2 548.2944297790527,
                                     :y2 213.47499084472656,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 57.60000228881836,
                                   :y1 166.4250030517578,
                                   :x2 548.2944297790527,
                                   :y2 190.4250030517578,
                                   :width 640,
                                   :height 360}
                                  {:x1 57.60000228881836,
                                   :y1 189.47499084472656,
                                   :x2 398.59377670288086,
                                   :y2 213.47499084472656,
                                   :width 640,
                                   :height 360}),
                          :page 9},
               :content {:text "Inputs J and K behave like inputs S and R to set and clear the flip-flop, respectively"},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
